<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_consulta_medica/pagina_1.css') }}">
</head>

<body>
    <h1>Dados Gerais do Paciente</h1>
    <form method="post">
        <label>Como foi seu dia hoje?</label><br>
        <textarea name="dia" rows="3" cols="40"></textarea><br><br>

        <label>Tem alguma doença cognitiva?</label><br>

        <input type="radio" id="doenca_sim" name="doenca" value="sim">
        <label for="doenca_sim">Sim</label>

        <input type="radio" id="doenca_nao" name="doenca" value="nao" checked>
        <label for="doenca_nao">Não</label><br>

        <label>Qual?</label><br>
        <input type="text" name="doenca_qual"><br><br>


        <label>Faz algum tratamento médico?</label><br>

        <input type="radio" id="tratamento_sim" name="tratamento" value="sim">
        <label for="tratamento_sim">Sim</label>

        <input type="radio" id="tratamento_nao" name="tratamento" value="nao"checked>
        <label for="tratamento_nao">Não</label><br>

        <label>Qual?</label><br>
        <input type="text" name="tratamento_qual"><br><br>

        <label>Mora quantas pessoas em sua residência?</label><br>
        <input type="number" name="pessoas" min="0"><br><br>

        <label>Com quem você se relaciona melhor?</label><br>
        <textarea name="relacao" rows="3" cols="40"></textarea><br><br>

        <button type="submit">Próxima</button>
    </form>
</body>
</html>