<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_consulta_medica/pagina_5.css') }}">
    <title>Atenção, Memória e Funções Cognitivas</title>
</head>
<body>
    <h1>Atenção, Memória e Funções Cognitivas</h1>
    <!-- Atenção -->
    <form method="post">
        <h3>Atenção</h3>

        <label>Tem momentos em que fica mais confuso ou desorientado?</label><br>
        <input type="radio" name="momentos_confusos" value="sim" id="momentos_confusos_sim"><label for="momentos_confusos_sim">Sim</label>
        <input type="radio" name="momentos_confusos" value="nao" id="momentos_confusos_nao" checked><label for="momentos_confusos_nao">Não</label><br><br>

        <label>Facilmente se distrai?</label><br>
        <input type="radio" name="facilidade_distraicao" value="sim" id="facilidade_distraicao_sim"><label for="facilidade_distraicao_sim">Sim</label>
        <input type="radio" name="facilidade_distraicao" value="nao" id="facilidade_distraicao_nao" checked><label for="facilidade_distraicao_nao">Não</label><br><br>

        <label>Não sabe onde deixou objetos?</label><br>
        <input type="radio" name="esquecimento_objetos" value="sim" id="esquecimento_objetos_sim"><label for="esquecimento_objetos_sim">Sim</label>
        <input type="radio" name="esquecimento_objetos" value="nao" id="esquecimento_objetos_nao" checked><label for="esquecimento_objetos_nao">Não</label><br><br>

        <!-- Memória -->
        <h3>Memória</h3>

        <label>Mais dificuldade em se lembrar de fatos recentes do que os mais antigos?</label><br>
        <input type="radio" name="dificuldade_memoria" value="sim" id="dificuldade_memoria_sim"><label for="dificuldade_memoria_sim">Sim</label>
        <input type="radio" name="dificuldade_memoria" value="nao" id="dificuldade_memoria_nao" checked><label for="dificuldade_memoria_nao">Não</label><br><br>

        <label>Tem apresentado desorientação temporal?</label><br>
        <input type="radio" name="desorientacao_temporal" value="sim" id="desorientacao_temporal_sim"><label for="desorientacao_temporal_sim">Sim</label>
        <input type="radio" name="desorientacao_temporal" value="nao" id="desorientacao_temporal_nao" checked><label for="desorientacao_temporal_nao">Não</label><br><br>

        <label>Mais repetitivo nas conversas ou pergunta várias vezes a mesma coisa?</label><br>
        <input type="radio" name="conversas_repetitivas" value="sim" id="conversas_repetitivas_sim"><label for="conversas_repetitivas_sim">Sim</label>
        <input type="radio" name="conversas_repetitivas" value="nao" id="conversas_repetitivas_nao" checked><label for="conversas_repetitivas_nao">Não</label><br><br>

        <label>Necessita de mais anotações para se lembrar?</label><br>
        <input type="radio" name="anotacoes_necessarias" value="sim" id="anotacoes_necessarias_sim"><label for="anotacoes_necessarias_sim">Sim</label>
        <input type="radio" name="anotacoes_necessarias" value="nao" id="anotacoes_necessarias_nao" checked><label for="anotacoes_necessarias_nao">Não</label><br><br>

        <label>Tem esquecido compromissos?</label><br>
        <input type="radio" name="esquecimentos_compromissos" value="sim" id="esquecimentos_compromissos_sim"><label for="esquecimentos_compromissos_sim">Sim</label>
        <input type="radio" name="esquecimentos_compromissos" value="nao" id="esquecimentos_compromissos_nao" checked><label for="esquecimentos_compromissos_nao">Não</label><br><br>

        <!-- Linguagem -->
        <h3>Linguagem</h3>

        <label>Tem dificuldade em encontrar palavras?</label><br>
        <input type="radio" name="dificuldade_palavras" value="sim" id="dificuldade_palavras_sim"><label for="dificuldade_palavras_sim">Sim</label>
        <input type="radio" name="dificuldade_palavras" value="nao" id="dificuldade_palavras_nao" checked><label for="dificuldade_palavras_nao">Não</label><br><br>

        <label>Não sabe nomear objetos?</label><br>
        <input type="radio" name="nomear_objetos" value="sim" id="nomear_objetos_sim"><label for="nomear_objetos_sim">Sim</label>
        <input type="radio" name="nomear_objetos" value="nao" id="nomear_objetos_nao" checked><label for="nomear_objetos_nao">Não</label><br><br>

        <label>Está com dificuldade de articular as palavras?</label><br>
        <input type="radio" name="articular_palavras" value="sim" id="articular_palavras_sim"><label for="articular_palavras_sim">Sim</label>
        <input type="radio" name="articular_palavras" value="nao" id="articular_palavras_nao" checked><label for="articular_palavras_nao">Não</label><br><br>

        <label>Tem dificuldade de compreender o que lhe é falado?</label><br>
        <input type="radio" name="compreender_falado" value="sim" id="compreender_falado_sim"><label for="compreender_falado_sim">Sim</label>
        <input type="radio" name="compreender_falado" value="nao" id="compreender_falado_nao" checked><label for="compreender_falado_nao">Não</label><br><br>

        <!-- Orientação Espacial -->
        <h3>Orientação Espacial</h3>

        <label>Tem se perdido em caminhos previamente conhecidos?</label><br>
        <input type="radio" name="perdido_caminhos" value="sim" id="perdido_caminhos_sim"><label for="perdido_caminhos_sim">Sim</label>
        <input type="radio" name="perdido_caminhos" value="nao" id="perdido_caminhos_nao" checked><label for="perdido_caminhos_nao">Não</label><br><br>

        <label>Tem dificuldade em aprender novos caminhos?</label><br>
        <input type="radio" name="aprender_caminhos" value="sim" id="aprender_caminhos_sim"><label for="aprender_caminhos_sim">Sim</label>
        <input type="radio" name="aprender_caminhos" value="nao" id="aprender_caminhos_nao" checked><label for="aprender_caminhos_nao">Não</label><br><br>

        <label>Tem dificuldade de se localizar dentro de casa?</label><br>
        <input type="radio" name="dificuldade_localizar" value="sim" id="dificuldade_localizar_sim"><label for="dificuldade_localizar_sim">Sim</label>
        <input type="radio" name="dificuldade_localizar" value="nao" id="dificuldade_localizar_nao" checked><label for="dificuldade_localizar_nao">Não</label><br><br>

        <!-- Praxias -->
        <h3>Praxias</h3>

        <label>Tem dificuldade no uso ou não sabe como se usa ferramentas ou objetos conhecidos?</label><br>
        <input type="radio" name="dificuldade_praxias" value="sim" id="dificuldade_praxias_sim"><label for="dificuldade_praxias_sim">Sim</label>
        <input type="radio" name="dificuldade_praxias" value="nao" id="dificuldade_praxias_nao" checked><label for="dificuldade_praxias_nao">Não</label><br><br>

        <label>Tem dificuldade para se vestir?</label><br>
        <input type="radio" name="dificuldade_vestir" value="sim" id="dificuldade_vestir_sim"><label for="dificuldade_vestir_sim">Sim</label>
        <input type="radio" name="dificuldade_vestir" value="nao" id="dificuldade_vestir_nao" checked><label for="dificuldade_vestir_nao">Não</label><br><br>

        <!-- Funções Executivas -->
        <h3>Funções Executivas</h3>

        <label>Tem dificuldades em planejar ou organizar o dia ou tarefas futuras?</label><br>
        <input type="radio" name="dificuldade_planejar" value="sim" id="dificuldade_planejar_sim"><label for="dificuldade_planejar_sim">Sim</label>
        <input type="radio" name="dificuldade_planejar" value="nao" id="dificuldade_planejar_nao" checked><label for="dificuldade_planejar_nao">Não</label><br><br>

        <label>Tem dificuldade em realizar tarefas com diversas etapas?</label><br>
        <input type="radio" name="dificuldade_etapas" value="sim" id="dificuldade_etapas_sim"><label for="dificuldade_etapas_sim">Sim</label>
        <input type="radio" name="dificuldade_etapas" value="nao" id="dificuldade_etapas_nao" checked><label for="dificuldade_etapas_nao">Não</label><br><br>

        <label>Tem dificuldade de resolver os problemas do dia a dia?</label><br>
        <input type="radio" name="dificuldade_resolver" value="sim" id="dificuldade_resolver_sim"><label for="dificuldade_resolver_sim">Sim</label>
        <input type="radio" name="dificuldade_resolver" value="nao" id="dificuldade_resolver_nao" checked><label for="dificuldade_resolver_nao">Não</label><br><br>

        <label>Não consegue tomar decisões?</label><br>
        <input type="radio" name="dificuldade_decisoes" value="sim" id="dificuldade_decisoes_sim"><label for="dificuldade_decisoes_sim">Sim</label>
        <input type="radio" name="dificuldade_decisoes" value="nao" id="dificuldade_decisoes_nao" checked><label for="dificuldade_decisoes_nao">Não</label><br><br>

        <button type="submit">Próxima</button>
    </form>

</body>
</html>