<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pasta_consulta_medica/pagina_3.css') }}">
</head>

<body>
    <h1>Sintomas Gerais</h1>
        <form method="post">
        <label>Você tem sentido perda de olfato?</label><br>
        <input type="radio" id="perda_olfato_sim" name="perda_olfato" value="sim"><label for="perda_olfato_sim">Sim</label>
        
        <input type="radio" id="perda_olfato_nao" name="perda_olfato" value="nao" checked><label for="perda_olfato_nao">Não</label><br><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Tem percebido esquecimentos frequentes?</label><br>
        <input type="radio" id="esquecimentos_sim" name="esquecimentos" value="sim"><label for="esquecimentos_sim">Sim</label>
        <input type="radio" id="esquecimentos_nao" name="esquecimentos" value="nao" checked><label for="esquecimentos_nao">Não</label><br><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Tem frequentes mudança de humor?</label><br>
        <input type="radio" id="mudanca_humor_sim" name="mudanca_humor" value="sim"><label for="mudanca_humor_sim">Sim</label>
        <input type="radio" id="mudanca_humor_nao" name="mudanca_humor" value="nao" checked><label for="mudanca_humor_nao">Não</label><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Qual mudança?</label><br>
        <input type="text" name="qual_humor"><br><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Já percebeu rigidez (dores musculares e sensação de fadiga) ou lentidão para iniciar movimentos?</label><br>
        <input type="radio" id="rigidez_sim" name="rigidez" value="sim"><label for="rigidez_sim">Sim</label>
        <input type="radio" id="rigidez_nao" name="rigidez" value="nao" checked><label for="rigidez_nao">Não</label><br><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Possui diminuição de tônus muscular?</label><br>
        <input type="radio" id="diminuicao_tonus_sim" name="diminuicao_tonus" value="sim"><label for="diminuicao_tonus_sim">Sim</label>
        <input type="radio" id="diminuicao_tonus_nao" name="diminuicao_tonus" value="nao" checked><label for="diminuicao_tonus_nao">Não</label><br><br>

<!--------------------------------------------------------------------------------------------------------------------------------------->
        <label>Já percebeu dificuldade ou lentidão ao realizar movimentos faciais repetitivos/involuntários?</label><br>
        <input type="radio" id="movimentos_facias_sim" name="movimentos_facias" value="sim"><label for="movimentos_facias_sim">Sim</label>
        <input type="radio" id="movimentos_facias_nao" name="movimentos_facias" value="nao" checked><label for="movimentos_facias_nao">Não</label><br><br>

        <button type="submit">Próxima</button>
    </form>
</body>

</html>